<html>
    <head></head>
    <body>


        <form action="/updateEmployee" method="post">
                Employee id:<input type="text" id="empid" name="empid" value="<%=emp.empid%>" readonly><br>
                Employee name:<input type="text" id="ename" name="ename" value="<%=emp.ename%>"><br>
                Employee sal:<input type="text" id="sal" name="sal" value="<%=emp.sal%>"><br>
                
                <button type="submit" id="btn" name="btn" value="btn">update</button>

        </form>
    </body>
</html>